.list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.listItem {
  display: flex;
  gap: 10px;
  border: 1px solid black;
  border-radius: 4px;
  align-items: center;
  padding: 12px;
  width: 340px;
}
